<div class="heist-admin__panel">
  <%= form_with model: [ :admin, bulletin_post ], local: true, class: "heist-admin__form-stack" do |f| %>
    <% if bulletin_post.errors.any? %>
      <div class="heist-admin__flash heist-admin__flash--alert">
        <%= pluralize(bulletin_post.errors.count, "error") %> prevented saving:
        <ul style="margin: 0.5rem 0 0; padding-left: 1.5rem;">
          <% bulletin_post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="heist-admin__form-field">
      <%= f.label :title %>
      <%= f.text_field :title, required: true %>
    </div>

    <div class="heist-admin__form-field">
      <%= f.label :body %>
      <%= f.text_area :body, rows: 6, required: true %>
    </div>

    <div class="heist-admin__form-field">
      <%= f.label :posted_at, "Publish at" %>
      <%= f.datetime_local_field :posted_at, value: (bulletin_post.posted_at || Time.current).strftime("%Y-%m-%dT%H:%M") %>
    </div>

    <div class="heist-admin__btn-row">
      <%= f.submit class: "heist-admin__btn" %>
      <%= link_to "CANCEL", admin_bulletin_posts_path, class: "heist-admin__btn heist-admin__btn--ghost" %>
    </div>
  <% end %>
</div>
