<div class="heist-admin__page-header">
  <h1>REVIEW SHIP #<%= @ship.id %></h1>
</div>

<p>For <%= link_to @ship.project.name, admin_project_path(@ship.project) %> by <%= @ship.project.user.display_name %></p>

<div class="heist-admin__panel">
  <%= form_with(model: @ship, url: admin_ship_path(@ship), class: "heist-admin__form-stack") do |f| %>
    <% if @ship.errors.any? %>
      <div class="heist-admin__flash heist-admin__flash--alert">
        <ul>
          <% @ship.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="heist-admin__form-field">
      <%= f.label :status %>
      <%= f.select :status, Ship.statuses.keys.map { |s| [ s.upcase, s ] }, {} %>
    </div>

    <div class="heist-admin__form-field">
      <%= f.label :feedback %>
      <%= f.text_area :feedback, rows: 4 %>
    </div>

    <div class="heist-admin__form-field">
      <%= f.label :justification %>
      <%= f.text_field :justification %>
    </div>

    <div class="heist-admin__form-field">
      <%= f.label :approved_seconds %>
      <%= f.number_field :approved_seconds %>
    </div>

    <div class="heist-admin__btn-row">
      <%= f.submit "UPDATE SHIP", class: "heist-admin__btn" %>
      <%= link_to "CANCEL", admin_ship_path(@ship), class: "heist-admin__btn heist-admin__btn--ghost" %>
    </div>
  <% end %>
</div>
