<div class="heist-admin__page-header">
  <h1>USERS</h1>
</div>

<%= form_with url: admin_users_path, method: :get, class: "heist-admin__search" do |f| %>
  <%= f.search_field :query, value: params[:query], placeholder: "Search users..." %>
  <%= f.submit "SEARCH", class: "heist-admin__btn heist-admin__btn--ghost" %>
<% end %>

<table class="heist-admin__table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Roles</th>
      <th>Projects</th>
      <th>Joined</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr <% if user.discarded? %>style="opacity: 0.5"<% end %>>
        <td>
          <%= link_to user.display_name, admin_user_path(user) %>
          <% if user.discarded? %>
            <span class="heist-admin__pill heist-admin__pill--rejected">DELETED</span>
          <% end %>
        </td>
        <td><%= user.email %></td>
        <td>
          <% user.roles.each do |role| %>
            <span class="heist-admin__pill"><%= role.upcase %></span>
          <% end %>
        </td>
        <td><%= user.projects.size %></td>
        <td><%= user.created_at.strftime("%b %d, %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_nav(@pagy) %>
